# compose.yaml
services:

  database:
    image: mariadb:10.6
    mem_limit: 2048m
    cpus: 4
    restart: unless-stopped
    ports:
      - "${DB_EXPOSE_PORT}:3306"
    environment:
      MARIADB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MARIADB_DATABASE: ${DB_DATABASE}
      MARIADB_USER: ${DB_USERNAME}
      MARIADB_PASSWORD: ${DB_PASSWORD}
    volumes:
      - cms_db_data:/var/lib/mysql
    networks:
      - dokploy-network
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p${DB_ROOT_PASSWORD}" ]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s

  redis:
    image: bitnami/redis:8.0-debian-12
    restart: unless-stopped
    mem_limit: 512m
    cpus: 1
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    volumes:
      - cms_redis_data:/data
    networks:
      - dokploy-network
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s

  franken:
    mem_limit: 2048m
    cpus: 4
    build:
      dockerfile: ./docker/franken/Dockerfile
      context: .
    networks:
      - dokploy-network
    depends_on:
      queue:
        condition: service_healthy
      schedule:
        condition: service_healthy
      database:
        condition: service_healthy
      redis:
        condition: service_healthy

  queue:
    mem_limit: 512m
    cpus: 2
    build:
      dockerfile: ./docker/php-cli/Dockerfile
      context: .
    command: [ "php", "/var/www/html/artisan", "queue:work", "--name=redis", "--tries=3" ]
    healthcheck:
      test: [ "CMD", "healthcheck-queue" ]
    environment:
      - AUTORUN_ENABLED=true
      - AUTORUN_LARAVEL_STORAGE_LINK=false
      - PHP_OPCACHE_ENABLE=1
    networks:
      - dokploy-network
    depends_on:
      database:
        condition: service_healthy
      redis:
        condition: service_healthy

  schedule:
    mem_limit: 512m
    cpus: 2
    build:
      dockerfile: ./docker/php-cli/Dockerfile
      context: .
    command: [ "php", "/var/www/html/artisan", "schedule:work" ]
    healthcheck:
      test: [ "CMD", "healthcheck-schedule" ]
    environment:
      - AUTORUN_ENABLED=false
      - PHP_OPCACHE_ENABLE=1
    networks:
      - dokploy-network
    depends_on:
      database:
        condition: service_healthy
      redis:
        condition: service_healthy

networks:
  dokploy-network:
    driver: bridge
    external: true
volumes:
  cms_db_data:
  cms_redis_data:
