@import '../../../../vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';

label {
    @apply capitalize !important;
}

.fi-topbar, .fi-sidebar-header, .fi-sidebar-nav{
    @apply bg-white dark:bg-black shadow !important;
}
.fi-topbar > nav {
    @apply bg-gray-100 dark:bg-gray-900 shadow-none border-0 !important;
}
